node_modules
fixtures
test/fixtures
.pnpm*
coverage
.presta-load-cache
pnpm-lock.yaml
.nyc_output

# common
dist
.presta

# core
packages/presta/__tests__
packages/presta/runtime
packages/presta/utils
packages/presta/bin.js
packages/presta/bin.d.ts
packages/presta/core.js
packages/presta/core.d.ts
packages/presta/index.js
packages/presta/index.d.ts
packages/presta/runtime.js
packages/presta/runtime.d.ts
packages/presta/serialize.js
packages/presta/serialize.d.ts
packages/presta/html.js
packages/presta/html.d.ts
